non-resonant-AD-extrapolation/old_scripts
non-resonant-AD-extrapolation/.ipynb_checkpoints/
mlenv/
working_dir/data/mc_scaler.pkl
working_dir/data/seed1/data_0.004.npz
working_dir/data/seed1/data_0.008.npz
working_dir/data/seed1/data_0.012.npz
working_dir/data/seed1/data_0.016.npz
working_dir/data/seed1/data_0.02.npz
working_dir/data/seed1/data_0.024.npz
working_dir/data/seed1/data_0.npz
working_dir/data/seed10/data_0.004.npz
working_dir/data/seed10/data_0.008.npz
working_dir/data/seed10/data_0.012.npz
working_dir/data/seed10/data_0.016.npz
working_dir/data/seed10/data_0.02.npz
working_dir/data/seed10/data_0.024.npz
working_dir/data/seed10/data_0.npz
working_dir/data/seed2/data_0.004.npz
working_dir/data/seed2/data_0.008.npz
working_dir/data/seed2/data_0.012.npz
working_dir/data/seed2/data_0.016.npz
working_dir/data/seed2/data_0.02.npz
working_dir/data/seed2/data_0.024.npz
working_dir/data/seed2/data_0.npz
working_dir/data/seed3/data_0.004.npz
working_dir/data/seed3/data_0.008.npz
working_dir/data/seed3/data_0.012.npz
working_dir/data/seed3/data_0.016.npz
working_dir/data/seed3/data_0.02.npz
working_dir/data/seed3/data_0.024.npz
working_dir/data/seed3/data_0.npz
working_dir/data/seed4/data_0.004.npz
working_dir/data/seed4/data_0.008.npz
working_dir/data/seed4/data_0.012.npz
working_dir/data/seed4/data_0.016.npz
working_dir/data/seed4/data_0.02.npz
working_dir/data/seed4/data_0.024.npz
working_dir/data/seed4/data_0.npz
working_dir/data/seed5/data_0.004.npz
working_dir/data/seed5/data_0.008.npz
working_dir/data/seed5/data_0.012.npz
working_dir/data/seed5/data_0.016.npz
working_dir/data/seed5/data_0.02.npz
working_dir/data/seed5/data_0.024.npz
working_dir/data/seed5/data_0.npz
working_dir/data/seed6/data_0.004.npz
working_dir/data/seed6/data_0.008.npz
working_dir/data/seed6/data_0.012.npz
working_dir/data/seed6/data_0.016.npz
working_dir/data/seed6/data_0.02.npz
working_dir/data/seed6/data_0.024.npz
working_dir/data/seed6/data_0.npz
working_dir/data/seed7/data_0.004.npz
working_dir/data/seed7/data_0.008.npz
working_dir/data/seed7/data_0.012.npz
working_dir/data/seed7/data_0.016.npz
working_dir/data/seed7/data_0.02.npz
working_dir/data/seed7/data_0.024.npz
working_dir/data/seed7/data_0.npz
working_dir/data/seed8/data_0.004.npz
working_dir/data/seed8/data_0.008.npz
working_dir/data/seed8/data_0.012.npz
working_dir/data/seed8/data_0.016.npz
working_dir/data/seed8/data_0.02.npz
working_dir/data/seed8/data_0.024.npz
working_dir/data/seed8/data_0.npz
working_dir/data/seed9/data_0.004.npz
working_dir/data/seed9/data_0.008.npz
working_dir/data/seed9/data_0.012.npz
working_dir/data/seed9/data_0.016.npz
working_dir/data/seed9/data_0.02.npz
working_dir/data/seed9/data_0.024.npz
working_dir/data/seed9/data_0.npz
working_dir/qcd_dijet_samples.zip
working_dir/samples/qcd_data_samples/
working_dir/samples/qcd_mc_samples/
working_dir/samples/qcd_test_samples/
working_dir/samples/sig_samples/
working_dir/sig_samples.zip
